$blueColor: #31384f;  /* 藏蓝色 */
$yellowColor: #fec738;  /* 黄色 */
$boothRedColor: #f84f52;  /* Booth浅红 */
$boothGreenColor: #4e9da9;  /* Booth浅绿 */

$lightGrayColor: #b2b2b2;  /* 浅灰 */
$darkGrayColor: #706e6f;  /* 深灰 */
$furGrayColor: #e7e5e1;  /* 鹅毛灰色-背景板 */

$bgDarkGrayColor: #dddddd;  /* 背景-深灰 */
$bgLightGrayColor: #eeeeee;  /* 背景-浅灰 */