$blue-color: #31384f;  /* 藏蓝色 */
$yellow-color: #fec738;  /* 黄色 */
$booth-red-color: #f84f52;  /* Booth浅红 */
$booth-green-color: #4e9da9;  /* Booth浅绿 */

$light-gray-color: #b2b2b2;  /* 浅灰 */
$dark-gray-color: #706e6f;  /* 深灰 */
$fur-gray-color: #e7e5e1;  /* 鹅毛灰色-背景板 */

$bg-dark-gray-color: #dddddd;  /* 背景-深灰 */
$bg-light-gray-color: #eeeeee;  /* 背景-浅灰 */

$shadow-color: #bdbdbd;  /* 阴影 */

/* 布料(fabric)质感 */
$degree-fabric-light-blue: rgb(0,8,40) url("@/image/material/45-degree-fabric-light.png");
$degree-fabric-light-yellow: rgb(255, 197, 52) url("@/image/material/45-degree-fabric-light.png");
$degree-fabric-light-red: rgb(250, 49, 53) url("@/image/material/45-degree-fabric-light.png");
$degree-fabric-light-green: rgb(14, 143, 163) url("@/image/material/45-degree-fabric-light.png");

$classy-fabric: $blue-color url("@/image/material/classy-fabric.png");
/* 用于 background 属性 */

@font-face {
    font-family: "Roboto-Regular";
    src: url("@/assets/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto-Italic";
    src: url("@/assets/fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
    font-family: "Roboto-Light";
    src: url("@/assets/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: "Roboto-Light-Italic";
    src: url("@/assets/fonts/Roboto/Roboto-LightItalic.ttf");
}
