$blue-color: #31384f;  /* 藏蓝色 */
$yellow-color: #fec738;  /* 黄色 */
$booth-red-color: #f84f52;  /* Booth浅红 */
$booth-green-color: #4e9da9;  /* Booth浅绿 */

$light-gray-color: #b2b2b2;  /* 浅灰 */
$dark-gray-color: #706e6f;  /* 深灰 */
$fur-gray-color: #e7e5e1;  /* 鹅毛灰色-背景板 */

$bg-dark-gray-color: #dddddd;  /* 背景-深灰 */
$bg-light-gray-color: #eeeeee;  /* 背景-浅灰 */

$shadow-color: #bdbdbd;  /* 阴影 */